body {
  background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
}

.theme {
  padding:32px 0 32px 0;
}

.working-area {
  background-color: rgba(142,36,170,0.3);
  position: relative;
  margin: auto;
  display: block;
  margin-top: 2%;
  width: 630px;
  height: 500px;
  
}

.round {
  background-color: #000;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  position: absolute;
  margin: 8% 18%;
}

.first-letter {
  background-color:#a8edea;
  width: 300px;
  height: 300px;
  position: absolute;
  margin: 50px 50px;
  border-radius: 20%;
  -webkit-clip-path: polygon(0 39%, 0 0, 100% 0, 100% 26%, 25% 16%, 26% 49%, 100% 44%, 100% 78%, 26% 63%, 26% 83%, 100% 100%, 0 100%);
clip-path: polygon(0 39%, 0 0, 100% 0, 100% 26%, 25% 16%, 26% 49%, 100% 44%, 100% 78%, 26% 63%, 26% 83%, 100% 100%, 0 100%);
}


#footer .footer_image {
  height: 24px;
  width:24px;
  text-align: center;
  padding: 4px;
}