body {
  background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
}

.theme {
  padding:32px 0 32px 0;
}

.working-area {
  width: 90%;
  height: 80%;
  margin: 0 auto;
  background-color: rgba(142,36,170,0.3);
  padding: 16px;
  border-radius: 8px;
}

.submitButton{
  background-color: #a8edea !important;
}

.palm-tree {
  margin-top: -80px;
}

a:hover{color:green}
a:link{color:pink !important}

#footer .footer_image {
  height: 24px;
  width:24px;
  text-align: center;
  padding: 4px;
}